body{
    background-color: #edf2f2;
    display: flex;
    height :100vh;
    align-items: center;
    justify-content: center;
}

.back{
    height:80%;
    width:auto;
    z-index: 1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line{
    border: 4px solid #003e4d;
    height: 60%;
    position: absolute;
    top:13%;
    left: 48%;
    width: 0px;
    z-index: 100;
    margin-left: -3px;
    border-radius: 4px;
    background-color: #003e4d;
   rotate: -45deg;
    margin-right: 5%;
    margin-bottom: 6%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
}

.move{
  transition: transform 1300ms ease-in-out;
  /*transform: translate(10rem,10rem);
  */
}
.moveable
{
   
}

.circle{
  height:19px;
  width:19px;
  background-color: #02b0d9;
  border: 5px solid #003e4d;
  border-radius: 100%;
    z-index: 110;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    transition: all 1300ms ease-in-out;
    /*
    opacity: .5f;*/

}

.line_wrapper{
  position: absolute;
  top:13%;
  left: calc(48% - 14.5px);
  height: calc(60% + 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  width:29px;
  z-index: 109;
  rotate: -45deg;
  transition: transform 1300ms ease-in-out;

  /*transform: translate(0rem,2rem);
  */
}


.circle1{
  height:19px;
  width:19px;
  background-color: #003e4d;
  border: 5px solid #003e4d;
  border-radius: 100%;
    z-index: 108;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    box-shadow: 0px 0px 2px 0px rgba(0,62,77,1);
    transition: all 1300ms ease-in-out;
    /*
    opacity: .5f;*/

}

.text_box{
  position: absolute;
  left:35%;
  top:5%;
  font-size: 35px;
  width : 30%;
  text-align: center;
  font-family: "JetBrains Mono",monospace;
}
























.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }